.Button {
  position: relative;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: fit-content;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  line-height: 1.5;
  font-weight: var(--font-bold-font-weight, 600);
  text-transform: capitalize;
  padding: 21px 8px !important;
  box-shadow: var(--shadow-button-level0-box-shadow, none);
  background-color: indianred;
  color: white;
  transition: background-color .1s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out, opacity 0.15s;
}